/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
header {
  background: black;
  height: 75px;
}
nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}
button {
  background: black;
}
nav ul{
  width: 60%;
}
nav form input {
  background: white;
  color: black;
  width: 100%;
}
.logo {
  height: 40px;
  width: auto;
}

/* Clear floats on the main section */
main {
  clear: both;
}

/* Make the main section floats */
main section {
  float: left;
  width: 50%;
  height: 500px;
}

/* Make the side into 4 columns */
.side section {
  float: left;
  width: 50%;
  height: 250px;

}
/* bottom section for news */
.news {
  clear: both;
}

.news section {
  float: left;
  width: 33%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Make the welcome, date and News same size */
h2, .date {
  font-size: 23px;
}

.date {
  color: gray;
}